.container {
  padding: 0;
  margin: auto;
  background-color: #0f0f14;
  height: auto;
  display: grid;
  grid-template-rows: 100px 1fr;
}

.header {
  height: 100px;
  background-color: #181a20;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.websiteTitle{
  color: #fff;
  margin-left: 120px;
}

.contents {
  display: grid;
  grid-template-columns: 240px 700px 270px;
  justify-content: center;
  gap: 30px;
  padding: 24px;
}

.leftMenu,
.postArea {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.subBlocks {
  background-color: #181a20;
  box-shadow: #000 0 4px 4px;
}

.musicPlayer {
  height: 320px;
  border-radius: 8px;
}

.menu {
  height: 300px;
  border-radius: 8px;
}

.addPost {
  height: 120px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
}


.posts {
  height: auto;
}

.rightMenu {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.musicList {
  height: 550px;
}

.artisits {
  height: 350px;
}

.messagesWindow {
  height: 50px;
  width: 200px;
  border-radius: 25px;
  position: fixed;
  right: 50px;
  bottom: 40px;
  box-shadow: #000 0 4px 4px;
  z-index: 100;
}
