
.grid-main-wrapper {
    background-color: #1e1f25;

    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

.grid-main {
    width: min(100vw, calc(100vh * (16 / 9)));
    height: min(100vh, calc(100vw * (9 / 16)));
    background-color: #1e1f25;

    font-size: 10px;
    gap: 1rem;
    padding: 3rem;
    display: grid;
    grid-template-columns: auto 32.5fr 67.5fr;
    grid-template-rows: 87.5fr 12.5fr;
    grid-template-areas:
        "widgets playlists rec"
        "currsong currsong currsong";
}

.grid-main div {
    border-radius: 10px;
    box-shadow: 5px 5px;
}

.widgets-container {
    background-color: hsl(0, 0%, 11%);

    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: fit-content;
    padding: .5rem;

    grid-area: widgets;
}

.navbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  gap: 1.5rem;
}

.item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.item a {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0.5rem;
}

.item img {
  width: 24px;
  height: 24px;
  object-fit: contain;
  filter: invert(1);
}

.item a:hover {
  opacity: 0.7;
}

#widgets_homebtn {
    margin-top: 1.5rem;
}

.playlists-container {
    background-color: hsl(240, 94%, 13%);
    color: lightgreen;

    display: grid;


    grid-area: playlists;
}

.rec-container {
    background-color: hsl(261, 65%, 15%);
    color: antiquewhite;
    grid-area: rec;
}

.currsong-container {
    background-color: hsl(49, 74%, 10%);
    color: darkgrey;
    grid-area: currsong;
}